$navbar-height : 50px;

.area {
    // Объявляем этот блок flex-контейнером
    display: flex;
    // Центрируем
    margin-right: auto;
    margin-left: auto;
    // Устанавливаем главную ось и многострочность контейнера
    flex-flow: row wrap; // строка многострочный
    // Расположение элементов относительно поперечной оси на строке
    align-items: stretch; // растягиваются
  
    // Медиавыражения для типовых размеров экранов
    @media (min-width: 768px) { width: 750px; }
    @media (min-width: 992px) { width: 970px; }
    @media (min-width: 1200px) { width: 1140px; }
    z-index: 100;
}

.navbar-component {
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12); // 2
  margin-bottom: 25px;
  // Намекаем сетке, что
  & > .navbar {
    // Выравнивание относительно главной оси
    justify-content: space-between; // равномерное
  }
}

.navbar {
  // List of items
  & > .list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  & > .list > .item {
    display: block;

    // Возможность элемента сжиматься
    flex-shrink: 0; // запрещено

    // Выравнивание и отступы
    height: $navbar-height;
    line-height: $navbar-height;
    padding-left: round(($navbar-height - 20) / 2);
    padding-right: round(($navbar-height - 20) / 2);

    text-transform: uppercase;
    // color: @navbar-item-color;
    // font-size: @navbar-item-font-size;
  }

}

.navbar {
  // Brand
  & .brand {
    display: block;
    font-size: 16px;
    margin: round(($navbar-height - 20) / 2);
    text-decoration: none;
    color: black;
    font-weight: 600;
    &:hover{
      color: rgb(255, 115, 0);
    }
  }
  & .brand-image {
    height: 30px;
    // position: absolutej
  }
}