.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 400px;
    height: 460px;
    // margin-left: 50px;
    // margin-right: 50px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: white;
    /* background-color: rgb(173, 157, 136); */
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.10);
}

.card .card__title {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    /* background-color: burlywood; */
}

.card .card__title h3{
    flex: 0 1 200px;
    text-align: left;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .card__body{
    /* padding: 0 40px; */
    display: flex;
    // height: 100%;
    flex-flow: row nowrap;
    margin-bottom: 25px;
}

.card .card__body .card__image{
    /* padding-top: 15px; */
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(212, 243, 198);
}

.card__image img{
    display: block;
    max-width: 300px;
    max-height: 300px;
    height: 90%;

}

.card .card__footer {
    padding: 0px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // width: 95%;
}

.btn {
    width: 100px;
    height: 25px;
    border: none;
    margin: 0px 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;

    a {
        color: white;
        text-decoration: none;
    }
}
